body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.nav-bar{
    display: flex;
    background-color: rgb(16, 15, 17);
    align-items: center;
    justify-content: space-between;
    padding: 0px 140px;
}

.nav-bar .half-width h3{
    color: rgb(255, 158, 66);
}

.nav-bar .half-width .cetagories p{
    color: white;
}

.cetagories{
    display: flex;
}

.cetagories p{
    margin-left: 30px;
}


/* ...........................header-section............................ */


.header{
    display: flex;
    justify-content: space-between;
    padding: 0px 140px;
    align-items: center;
    margin-top: 50px;
}

.header .half-width img{
    height: 500px;
   
}

.header .half-width h1{
    font-size: 24pt;
    color: rgb(37, 37, 37);
}

.header .half-width p{
    line-height: 24px;
}


span{
    color: rgb(255, 159, 68);
}

.header-section-btn{
    border: none;
    background-image: linear-gradient(45deg, rgb(255, 158, 66), rgb(253, 105, 19));
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
}


/* .............................why-us-section.......................... */


.why-us{
    background-image: url("./images/shapes/7.png");
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    
}

.why-us .half-width{
    width: 50%;
    padding-right: 140px;
}

.why-us .half-width img{
    margin-top: 80px;
    margin-bottom: -5px;
}

.why-us .half-width h1{
    color: rgb(255, 159, 68);
}

.why-us .half-width p{
    line-height: 24px;
}

.why-section-btn{
    margin-top: 20px;
    border: none;
    background-image: linear-gradient(45deg, rgb(255, 158, 66), rgb(253, 105, 19));
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
}



/* .........................My-Recipies-Section.................... */

.our-recipies{
    margin-top: 50px;
}
.recipies-head{
    text-align: center;
    line-height: 24px;
}

.recipies-items{
    display: flex;
    justify-content: center;

}


.recipies-head h1{
    color: rgb(255, 159, 68);
}

.item{
    background-color: rgb(255, 248, 232);
    width: 20%;
    text-align: left;
    padding: 20px;
    border-radius: 20px;
    line-height: 24px;
    margin: 20px;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, .15);
}

.item .card-img{
    display: flex;
    justify-content: center;
}

.item img{
    width: 100%;
    border-radius: 20px;
}



/* ..........................subscribers........................ */

.subscribers{
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, .2);
    margin: 0px 170px;
    margin-top: 50px;
    
}

.subscribers-data{ 
    margin: 5px 50px;
}



/* .............................newsletter............................... */

.newsletter{
    background-color: blanchedalmond;
    text-align: center;
    margin-top: 50px;
    padding: 30px 0px;
    

}

.form-section{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

input{
    padding: 10px 6px;
    width: 200px;
    border: none;
}

.form-section-btn{
    border: none;
    background-image: linear-gradient(45deg, rgb(255, 158, 66), rgb(253, 105, 19));
    padding: 10px 15px;
    color: white;
}

.newsletter h2{
   color:  rgb(255, 159, 68);
}



/* ...............................footer-section........................ */

.footer-section{
    background-color: rgb(16, 15, 17);
    text-align: center;
    padding: 20px 0px;
    margin-top: 50px;
}

.footer-section h1{
    color: rgb(255, 159, 68);
}

.footer-section p{
    color: white;
    font-weight: 300;
}